:host {
  display: flex;
  background-color: #e4dcdc;
  padding: 64px 61px;
  gap: 54px;
  height: 86vh;
}

.form-container {
  background-color: #ffffff;
  min-width: 70%;
  padding: 44px 16px 31px 16px;
  display: flex;
  flex-direction: column;
}

.inputs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

fieldset {
  margin: 0;
  padding: 0;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.error-message {
  color: #b61717;
}

input,
label {
  margin-bottom: 10px;
}

.text-input {
  border: 1px solid #464444;
  height: 42px;
  color: #878282;
  padding: 0.5rem;
}

.input-error {
  border: 1px solid #b61717;
}

.checkbox-field {
  display: inline;
  padding: 28px 0;
}

.checkbox-input {
  margin-right: 10px;
}

.has-animals {
  padding: 20px 0;
}

.animals-info {
  padding-top: 20px;
}

.info-animals-input {
  width: 50%;
  border: 1px solid #464444;
  padding: 0.5rem;
  margin-top: 10px;
}

.able-button {
  margin-top: 20px;
  background-color: #3636d4;
  align-self: flex-start;
}

.disabled-button {
  margin-top: 20px;
  background-color: #9f9494;
  align-self: flex-start;
}
