<!-- Si al enviar el formulario no se navegase al listado de animales como requiere la práctica, se mostraría este mensaje en la misma página del formulario. -->
<ng-template #formsubmitted
  ><p class="form-container">
    Gracias por tu solicitud. En breve, nos pondremos en contacto contigo.
  </p></ng-template
>

<ng-container *ngIf="!isSubmitted; else formsubmitted">
  <form
    *ngIf="userForm"
    [formGroup]="userForm"
    (submit)="onSumbit()"
    class="form-container"
  >
    <div class="inputs-container">
      <fieldset>
        <label for="name">Nombre</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          placeholder="Escribe tu nombre"
          class="text-input"
          [ngClass]="{
            'input-error':
              userForm.get('name')?.invalid && userForm.get('name')?.touched
          }"
        />
        <p
          *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched"
          class="error-message"
        >
          Este campo es obligatorio
        </p>
      </fieldset>
      <fieldset>
        <label for="surname">Apellidos</label>
        <input
          type="text"
          id="surname"
          formControlName="surname"
          placeholder="Escribe tus apellidos"
          class="text-input"
          [ngClass]="{
            'input-error':
              userForm.get('surname')?.invalid &&
              userForm.get('surname')?.touched
          }"
        />
        <p
          *ngIf="
            userForm.get('surname')?.invalid && userForm.get('surname')?.touched
          "
          class="error-message"
        >
          Este campo es obligatorio
        </p>
      </fieldset>
      <fieldset>
        <label for="dni">DNI</label>
        <input
          type="text"
          id="dni"
          formControlName="dni"
          placeholder="Introduce tu DNI"
          class="text-input"
          [ngClass]="{
            'input-error':
              userForm.get('dni')?.invalid && userForm.get('dni')?.touched
          }"
        />
        <p
          *ngIf="userForm.get('dni')?.errors?.['invalidDni']"
          class="error-message"
        >
          El formato del DNI no es válido
        </p>
        <p
          *ngIf="userForm.get('dni')?.errors?.['required'] && userForm.get('dni')?.touched"
          class="error-message"
        >
          Este campo es obligatorio
        </p>
      </fieldset>
      <fieldset>
        <label for="age">Edad</label>
        <input
          type="number"
          id="age"
          formControlName="age"
          class="text-input"
          [ngClass]="{
            'input-error':
              userForm.get('age')?.invalid && userForm.get('age')?.touched
          }"
        />
        <p
          *ngIf="!userForm.get('age')?.value && userForm.get('age')?.touched"
          class="error-message"
        >
          Este campo es obligatorio
        </p>
        <p
          *ngIf="
            userForm.get('age')?.value &&
            userForm.get('age')?.invalid &&
            userForm.get('age')?.touched
          "
          class="error-message"
        >
          Debes ser mayor de edad para poder adopar un animal.
        </p>
      </fieldset>
    </div>

    <fieldset class="checkbox-field">
      <input
        type="checkbox"
        id="has-animals"
        formControlName="hasAnimals"
        class="checkbox-input"
        (click)="hasAnimalsToggle()"
      />
      <label for="has-animals" class="has-animals"
        >Tengo más animales en casa</label
      >
      <div *ngIf="hasAnimals" class="animals-info">
        <p>Información de tus animales</p>
        <textarea
          id="info-animals"
          formControlName="infoAnimals"
          class="info-animals-input"
          placeholder="Háblanos del resto de tus animales para que sepamos si la adopción puede llevarse a cabo."
        >
        </textarea>
      </div>
    </fieldset>

    <button [disabled]="isDisabled" type="submit" [ngClass]="submitButtonStyle">
      Enviar
    </button>
  </form>
</ng-container>

<div>
  <app-animal
    [animal]="animal"
    [hideElementsAnimalCard]="true"
    adoptPageStyle="adopt-page-style"
  ></app-animal>
</div>
