.home-animal-style {
  border: solid 1px #464444;
  display: flex;
  flex-direction: column;
  padding-bottom: 36px;
  background-color: #ffffff;
}

.form-animal-style {
  border: none;
  display: flex;
  flex-direction: column;
  padding-bottom: 36px;
  background-color: #ffffff;
}

.image-container {
  position: relative;
  height: 200px;
  width: 100%;
}

.animal-image {
  object-fit: cover;
  border: 1px solid #9f9494;
}

.animal-name {
  font-weight: bold;
  font-size: 20px;
  color: #3636d4;
  padding: 20px;
}

.animal-description {
  font-size: 14px;
  padding: 0 20px 28px 20px;
  height: 94px;
}

.animal-type-age {
  margin: 0 20px 20px 20px;
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  border-top: 1px solid #9f9494;
  border-bottom: 1px solid #9f9494;
}

.adopt-page-style {
  margin: 0 0 0 20px;
  padding: 0;
  border: none;
}

.age-title {
  font-weight: 600;
}
