<div *ngIf="animal" [ngClass]="animalStyle">
  <img [src]="animal.image" [alt]="animal.name" class="animal-image" />
  <p class="animal-name">{{ animal.name }}</p>
  <p class="animal-description">{{ animal.description }}</p>
  <div class="animal-type-age" [ngClass]="adoptPageStyle">
    <p *ngIf="!hideElementsAnimalCard" class="animal-type">{{ animal.type }}</p>
    <p class="animal-age">
      <span class="age-title">Edad:</span>{{ animal.age }} años
    </p>
  </div>
  <button
    (click)="goToForm()"
    *ngIf="!hideElementsAnimalCard"
    class="adoptame-button"
  >
    Adóptamne
  </button>
</div>
