header {
  height: 60px;
  padding: 12px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10 20px;
}

.navbar-link {
  font-size: 16px;
}

.adopta-button {
  color: white;
  background-color: #3636d4;
  width: 138px;
  padding: 10px 0;
  text-align: center;
}
