.home-image {
  width: 100%;
}

.home-title {
  margin: 46px 0 38px 0;
  color: #3636d4;
  font-size: 32px;
  font-weight: 600;
}
.home-description {
  width: 60%;
  font-size: 24px;
  padding-bottom: 54px;
}
