<img
  class="home-image"
  src="https://images.unsplash.com/photo-1534361960057-19889db9621e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  alt="perro-en-adopcion"
/>
<section class="home-content-without-banner">
  <h1 class="home-title">Elígelo y mejora su vida</h1>
  <p class="home-description">
    Tú conmigo es la protectora de animales que trabaja para mejorar vidas
  </p>
  <h2 class="title">Los mayores de la casa</h2>
  <div>
    <ul class="animals-list">
      <li *ngFor="let animal of oldestAnimals">
        <app-animal [animal]="animal"></app-animal>
      </li>
    </ul>
  </div>
</section>
